{% extends './_layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/articles/category.css') }}" />
{% endblock %}

{% block title %}Articles - Crypto Community{% endblock %}

{% block content %}
<div class="content__title">
    <h1 class="content__title-text">{{category_name}}</h1>
</div>
<!-- Articles -->
<div class="main-content">
    <div class="articles">
        {% for article in articles %}
        <div class="article-item">
            <div class="article-item__thumbnail">
                <img src="{{ article.thumbnailUrl }}" alt="thumbnail">
            </div>
            <div class="article-item__content">
                <h2 class="article-item__title limit-lines" style="--line-limit: 2;">{{ article.title }}</h2>
                <p class="article-item__description limit-lines" style="--line-limit: 3;">{{ article.subDescription }}
                </p>
                <a class="read_more__btn" href="/articles/{{article.id}}">
                    <i class="fa-solid fa-book-open"></i>
                    <p>Read more</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Most read news -->
    <div class="most_read-container">
        <div class="most_read-header">
            <i class="fa-solid fa-book-open-reader most_read-header--icon"></i>
            <h2 class="most_read-header--text">Most read news</h2>
        </div>
        {% for article in articles_sorted_by_view %}
        <div class="most_read-item" onclick="article_detail('{{article.id}}')">
            <div class="most_read-item__content">
                <h4 class="most_read-item__title limit-lines" style="--line-limit: 3;">
                    {{ article.title }}
                </h4>
                <p class="most_read-item__description limit-lines" style="--line-limit: 3;">
                    {{ article.subDescription }}
                </p>
            </div>
            <div class="most_read-item__overlay">
                Read more
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/article/index.js') }}"></script>
{% endblock %}