{% extends './_layout.html' %}

{% block title %} {{ article.title }} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/articles/detail.css') }}" />
{% endblock %}

{% block onload %}
onLoadActions();
{% endblock %}

{% block content %}
<div class="content__title">
    <h1 class="content__title-text">{{article.type}}</h1>
</div>
<!-- Articles -->
<div class="main-content">
    <div class="article">
        <h1 class="article__title">{{article.title}}</h1>
        <img src="{{article.thumbnailUrl}}" alt="thumbnail" class="article__thumbnail">
        <div class="article__content">
            {{article.content | safe}}
        </div>
        <div class="article__footer">
            <div class="article__author">
                <i class="fa-solid fa-user"></i>
                <p class="article__author-name">{{article.author}}</p>
            </div>
            <div class="article__date">
                <i class="fa-solid fa-calendar"></i>
                <p class="article__date-text">{{article.created_at}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/article/detail.js') }}"></script>
<script>
    function onLoadActions() {
        up_view('{{article.id}}');
    }
</script>
{% endblock %}