{% extends "./_layout.html" %}

{% block title %}Articles - Crypto Community{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/articles/index.css') }}">
{% endblock %}

{% block content %}
<!-- Highlight -->
<div class="highlight">
    <div class="highlight__title">
        <i class="fa-solid fa-star highlight__title--icon"></i>
        <h2 class="highlight__title--text">Highlight</h2>
    </div>
    <div class="highlight__content" id="highlightContent">
        {% for article in articles_highlight %}
        <div class="highlight__article">
            <div class="highlight__article--thumbnail">
                <img src="{{ article.thumbnailUrl}}" alt="thumbnail">
            </div>
            <div class="highlight__article--content">
                <h3 class="highlight__article--title limit-lines" style="--line-limit: 2;">{{article.title}}</h3>
                <p class="highlight__article--description limit-lines" style="--line-limit: 3;">
                    {{article.subDescription}}</p>
                <a class="read_more__btn" href="/articles/{{article.id}}">
                    <i class="fa-solid fa-book-open"></i>
                    <p>Read more</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Articles -->
<div class="main-content">
    <!-- Categories -->
    <div class="categories">
        {% for category in categories %}
        <div class="category-container-item">
            <div class="category-container-item__header">
                <div class="category-container-item__title">
                    <i class="fa-solid {{ category.icon }} category-container-item__title--icon"></i>
                    <h2 class="category-container-item__title--text">{{category.title}}</h2>
                </div>
                <a class="category-container-item__link" href="/articles/category/{{category.title}}">
                    <i class="fa-solid fa-eye category-container-item__link--icon"></i>
                    <p class="category-container-item__link--text">View all</p>
                </a>
            </div>
            <div class="category-container-item__content">
                {% for article in articles[category['title']] %}
                <div class="category-container-item__article">
                    <div class="category-container-item__article--thumbnail">
                        <img src="{{ article.thumbnailUrl }}" alt="thumbnail">
                    </div>
                    <div class="category-container-item__article--info">
                        <h3 class="category-container-item__article--title limit-lines" style="--line-limit: 2;">
                            {{article.title}}</h3>
                        <p class="category-container-item__article--description limit-lines" style="--line-limit: 3;">
                            {{article.subDescription}}</p>
                        <a class="read_more__btn" href="/articles/{{article.id}}">
                            <i class="fa-solid fa-book-open"></i>
                            <p>Read more</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>


    <!-- Most read news -->
    <div class="most_read-container">
        <div class="most_read-header">
            <i class="fa-solid fa-book-open-reader most_read-header--icon"></i>
            <h2 class="most_read-header--text">Most read news</h2>
        </div>
        {% for article in articles_sorted_by_view %}
        <div class="most_read-item" onclick="article_detail('{{article.id}}')">
            <div class="most_read-item__content">
                <h4 class="most_read-item__title limit-lines" style="--line-limit: 3;">
                    {{ article.title }}
                </h4>
                <p class="most_read-item__description limit-lines" style="--line-limit: 3;">
                    {{ article.subDescription }}
                </p>
            </div>
            <div class="most_read-item__overlay">
                Read more
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/article/index.js') }}"></script>
{% endblock %}