html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

/* Common */

.button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #7bff00;
    color: #2d1616;
    font-size: 1.6rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

.separate {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

/* End common */

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Sidebar */

.sidebar {
    width: 240px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #191b1d;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 16px 0px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

.sidebar__header i {
    font-size: 5rem;
    color: hsl(91, 100%, 50%);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 4.6rem;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__item {
    width: 100%;
}

.sidebar__item a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 20px;
    max-width: 200px;
    padding: 16px 20px;
    color: #adacac;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    border-left: 2px solid transparent;
}

.sidebar__item a:hover {
    border-left: 2px solid hsl(91, 100%, 50%);
}

.sidebar__item--active a {
    color: hsl(91, 100%, 50%);
    background-color: #444444;
    border-left: 2px solid hsl(91, 100%, 50%);
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 240px);
}

.content-outer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    background-color: #101214;
    padding: 0px 80px;
}

/* Top bar */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: sticky;
    top: 0; /* Đặt khoảng cách từ phía trên của viewport đến topbar */
    background: #101214; /* Nên đặt màu nền để đảm bảo topbar không trong suốt */
    z-index: 3; /* Đảm bảo topbar ở trên các phần tử khác */
}

.search_bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #191b1d;
    border-radius: 999px;
    padding-left: 20px;
    padding-right: 20px;
}

.search_bar i {
    font-size: 2rem;
    color: #adacac;
}

.search_bar__input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    background-color: transparent;
    color: #adacac;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 4.6rem;
    color: hsl(91, 100%, 50%);
}

.logo__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 999px;
    cursor: pointer;
}

.user_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid hsl(91, 100%, 50%);
}

.user__icon {
    font-size: 1.7rem;
}

.user__welcome {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(0, 1%, 68%);
}

.user-welcome__username {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

/* Box */

.box-user {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    z-index: 10;
    display: none;
}

.box-user--show {
    display: block;
}

.box-user__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-user__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.box-user__name {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
}

.box-user__email {
    font-size: 1.2rem;
    color: #adacac;
}

.box-user .separate {
    margin: 10px 0;
}

.box-user__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.box-user__item:hover {
    background-color: #f8f8f8;
}

/* End sidebar */

.right {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 20px 0px 20px 20px;
}

.trending-token {
    position: sticky;
    top: 106px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    box-shadow: 0px 0px 2px rgba(123, 255, 0, 0.12),
        0px 0px 24px rgba(123, 255, 0, 0.14);
}

.trending-token__header--title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}

.trending-token__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 1.6rem;
}

.trending-token__item--rank {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 700;
    color: #ddd;
}

.trending-token__item--image {
    margin-left: 24px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.trending-token__item--name {
    font-weight: 700;
    color: #fff;
}

.trending-token__item--slug {
    font-weight: 400;
    font-size: 1.4rem;
    color: #ddd;
}

/* Profile - main */

.profile-main {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    padding-top: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-background {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 40%;
    border-radius: 8px;
}

.profile-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #f8f8f8;
}

.profile-background--alt {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-size: 2.4rem;
    color: #fff;
    background-color: #444;
    z-index: 1;
    cursor: pointer;
}

.profile-background--alt:hover {
    background-color: #333;
}

.profile-background:has(img[src=""]) .profile-background--alt {
    display: flex;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -15px;
    padding-left: 20px;
}

.profile-info__avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.profile-info__avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    outline: 2px solid #191b1d;
    z-index: 2;
}

.profile-info__name {
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
}

.profile-info__email {
    font-size: 1.6rem;
    color: #adacac;
}

.profile-info__bio {
    margin-top: 20px;
    font-size: 1.6rem;
    color: #adacac;
    padding-left: 20px;
}