/* Profile - main */
.profile-main {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    padding-top: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-background {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 40%;
    border-radius: 8px;
}

.profile-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #444;
    object-fit: contain;
}

.profile-background--alt {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-size: 2.4rem;
    color: #fff;
    background-color: #444;
    z-index: 1;
    cursor: pointer;
}

.profile-background--alt:hover {
    background-color: #333;
}

.profile-background:has(img[src=""]) .profile-background--alt {
    display: flex;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -15px;
    padding-left: 20px;
}

.profile-info__avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.profile-info__avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    outline: 2px solid #191b1d;
    z-index: 2;
}

.profile-info__name {
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
}

.profile-info__email {
    font-size: 1.6rem;
    color: #adacac;
}

.profile-info__edit {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.profile-info__edit--btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    color: #7bff00;
    background-color: transparent;
    border: 1px solid #7bff00;
    border-radius: 4px;
    font-size: 1.6rem;
    cursor: pointer;
}

.profile-info__bio {
    margin-top: 20px;
    font-size: 1.6rem;
    color: #adacac;
    padding-left: 20px;
}

/* Post list */

.posts__header--title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post__link {
    cursor: pointer;
}

.post__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.post__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.post__name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}

.post__time {
    font-size: 1.4rem;
    color: #adacac;
}

.post__content {
    margin: 10px 0;
    padding: 0px 60px;
    border-radius: 4px;
    color: #fff;
    font-size: 1.6rem;
}

.post__thumbnail {
    margin: 0 60px;
    width: calc(100% - 60px);
    object-fit: cover;
    border-radius: 4px;
}

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    padding-left: 60px;
}

.post__view,
.post__like,
.post__comment {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    color: #ddd;
    font-size: 1.6rem;
    cursor: pointer;
}

.post__liked {
    color: #7bff00;
}

.post__view:hover,
.post__like:hover,
.post__comment:hover {
    color: #7bff00;
}

.post-top__separate {
    margin: 20px 0;
    background-color: #7bff00;
}