.right {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 24px;
    padding-right: 0;
}

.trending-token {
    position: sticky;
    top: 110px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    box-shadow: 0px 0px 2px rgba(123, 255, 0, 0.12),
        0px 0px 24px rgba(123, 255, 0, 0.14);
}

.trending-token__header--title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}

.trending-token__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 1.6rem;
}

.trending-token__item--rank {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 700;
    color: #ddd;
}

.trending-token__item--image {
    margin-left: 24px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.trending-token__item--name {
    font-weight: 700;
    color: #fff;
}

.trending-token__item--slug {
    font-weight: 400;
    font-size: 1.4rem;
    color: #ddd;
}

/* Main */

.post-main {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    padding-top: 20px;
}

.back-container {
    margin-bottom: 20px;
}

.back {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.post-top__separate {
    margin: 20px 0;
}

/* Post list */

.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post__link {
    cursor: pointer;
}

.post__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.post__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.post__name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}

.post__time {
    font-size: 1.4rem;
    color: #adacac;
}

.post__content {
    margin: 10px 0;
    padding: 0px 60px;
    border-radius: 4px;
    color: #fff;
    font-size: 1.6rem;
}

.post__thumbnail {
    margin: 0 60px;
    width: calc(100% - 60px);
    object-fit: cover;
    border-radius: 4px;
}

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    padding-left: 60px;
}

.post__view, .post__like, .post__comment {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    color: #ddd;
    font-size: 1.6rem;
    cursor: pointer;
}

.post__liked {
    color: #7bff00;
}

.post__view:hover, .post__like:hover, .post__comment:hover {
    color: #7bff00;
}

/* Comment */

.comment-creation {
    display: flex;
    gap: 10px;
}

.comment__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.comment__input--text {
    width: calc(100% - 40px);
    height: 40px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #eff2f5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    resize: none;
    outline: 1px solid #fff;
    transition: all 0.4s ease-in-out;
}

.comment__input--text:focus {
    height: 100px;
    outline: 1px solid #7bff00;
}

.comment__input--button {
    font-size: 1.4rem;
}

/* Comment list */

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #7bff00;
}

.comment__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-item__inner {
    display: flex;
    gap: 10px;
}

.comment__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.comment__user {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}

.comment__time {
    font-size: 1.4rem;
    color: #adacac;
}

.comment__reply-to {
    position: absolute;
    left: 0;
    top: 22px;
    font-weight: 600;
    color: #dfdfdf;
}

.comment__content {
    margin-top: 10px;
    padding-right: 50px;
    font-size: 1.6rem;
    color: #fff;
}

.comment__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding-left: 50px;
}

.comment__like, .comment__reply {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    color: #ddd;
    font-size: 1.6rem;
    cursor: pointer;
}

.comment__like:hover, .comment__reply:hover {
    color: #7bff00;
}

.comment__liked {
    color: #7bff00;
}

.comment-item__separate {
    margin-top: 20px;
    margin-bottom: 0;
}

/* Modal comment */

.modal-comment {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-comment__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 40%;
    max-width: 700px;
    background-color: #101214;
    border-radius: 24px;
}

.modal-comment__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.modal-comment__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
}

.modal-comment__close-button {
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    color: #fff;
    background-color: transparent;
    border-radius: 999px;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal-comment__close-button:hover {
    background-color: #444;
}

.modal-comment__creation {
    display: flex;
    gap: 10px;
}

.modal-comment__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.modal-comment__input--text {
    width: calc(100% - 40px);
    height: 40px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #eff2f5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    resize: none;
    outline: 1px solid #fff;
    transition: all 0.4s ease-in-out;
}

.modal-comment__input--text:focus {
    height: 100px;
    outline: 1px solid #7bff00;
}

.modal-comment__input--button {
    font-size: 1.4rem;
}