html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

/* Common */

.button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #7bff00;
    color: #2d1616;
    font-size: 1.6rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

.separate {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

/* End common */

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Sidebar */

.sidebar {
    width: 240px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #191b1d;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 16px 0px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

.sidebar__header i {
    font-size: 5rem;
    color: hsl(91, 100%, 50%);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 4.6rem;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__item {
    width: 100%;
}

.sidebar__item a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 20px;
    max-width: 200px;
    padding: 16px 20px;
    color: #adacac;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    border-left: 2px solid transparent;
}

.sidebar__item a:hover {
    border-left: 2px solid hsl(91, 100%, 50%);
}

.sidebar__item--active a {
    color: hsl(91, 100%, 50%);
    background-color: #444444;
    border-left: 2px solid hsl(91, 100%, 50%);
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 240px);
}

.content-outer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    background-color: #101214;
    padding: 0px 80px;
}

/* Top bar */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: sticky;
    top: 0; /* Đặt khoảng cách từ phía trên của viewport đến topbar */
    background: #101214; /* Nên đặt màu nền để đảm bảo topbar không trong suốt */
    z-index: 3; /* Đảm bảo topbar ở trên các phần tử khác */
}

.search_bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #191b1d;
    border-radius: 999px;
    padding-left: 20px;
    padding-right: 20px;
}

.search_bar i {
    font-size: 2rem;
    color: #adacac;
}

.search_bar__input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    background-color: transparent;
    color: #adacac;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 4.6rem;
    color: hsl(91, 100%, 50%);
}

.logo__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 999px;
    cursor: pointer;
}

.user_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid hsl(91, 100%, 50%);
}

.user__icon {
    font-size: 1.7rem;
}

.user__welcome {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(0, 1%, 68%);
}

.user-welcome__username {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

/* Box */

.box-user {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    z-index: 10;
    display: none;
}

.box-user--show {
    display: block;
}

.box-user__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-user__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.box-user__name {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
}

.box-user__email {
    font-size: 1.2rem;
    color: #adacac;
}

.box-user .separate {
    margin: 10px 0;
}

.box-user__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.box-user__item:hover {
    background-color: #f8f8f8;
}

/* End sidebar */

.right {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 20px 0px 20px 20px;
}

.trending-token {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    box-shadow: 0px 0px 2px rgba(123, 255, 0, 0.12),
        0px 0px 24px rgba(123, 255, 0, 0.14);
}

.trending-token__header--title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}

.trending-token__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 1.6rem;
}

.trending-token__item--rank {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 700;
    color: #ddd;
}

.trending-token__item--image {
    margin-left: 24px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.trending-token__item--name {
    font-weight: 700;
    color: #fff;
}

.trending-token__item--slug {
    font-weight: 400;
    font-size: 1.4rem;
    color: #ddd;
}

/* Post - main */

.post-main {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    padding-top: 20px;
}

.post-creation {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.post-creation__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.post-creation__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.post-creation__message {
    width: calc(100% - 40px);
    height: 40px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #191b1d;
    color: #adacac;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    resize: none;
    outline: 1px solid #adacac;
    transition: all 0.4s ease-in-out;
}

.post-creation__message:focus {
    height: 200px;
    outline: 1px solid #7bff00;
}

.post-creation__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-creation__thumbnail-btn__outer {
    position: relative;
}

.post-creation__thumbnail-btn {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #333;
    font-size: 1.6rem;
    cursor: pointer;
}

.post-creation__thumbnail-preview {
    margin-right: auto;
    height: 36px;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0px 0px 2px rgba(123, 255, 0, 0.12),
        0px 0px 24px rgba(123, 255, 0, 0.14);
    background-color: #f8f8f8;
}

.post-creation__thumbnail-preview__close {
    position: absolute;
    right: -5px;
    top: -5px;
    display: none;
    width: 16px;
    height: 16px;
    font-size: 1.6rem;
    color: red;
    border-radius: 999px;
    background-color: #000;
    cursor: pointer;
    z-index: 2;
}

.post-creation__thumbnail-btn__outer:hover .post-creation__thumbnail-preview__close {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-creation__thumbnail-btn__outer:has(img[src="https://www.polytechnique-insights.com/wp-content/uploads/2023/06/adobestock_577124018-1024x683.jpeg"]) .post-creation__thumbnail-preview__close {
    display: none;
}

.post-creation__thumbnail-preview__extra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    color: #7bff00;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.post-creation__thumbnail-btn__outer:hover .post-creation__thumbnail-preview__extra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-creation__thumbnail-btn__outer:has(img[src="https://www.polytechnique-insights.com/wp-content/uploads/2023/06/adobestock_577124018-1024x683.jpeg"]) .post-creation__thumbnail-preview__extra {
    display: none;
}

.post-creation__thumbnail-preview__upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    color: #7bff00;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.post-creation__thumbnail-btn__outer:hover:has(img[src="https://www.polytechnique-insights.com/wp-content/uploads/2023/06/adobestock_577124018-1024x683.jpeg"]) .post-creation__thumbnail-preview__upload {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-creation-on-upload {
    background-color: #eff2f5;
    color: #333;
    cursor: not-allowed;
}

.post-top__separate {
    margin: 20px 0;
    background-color: #7bff00;
}

.modal-image-preview {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.modal-image-preview__img {
    object-fit: contain;
}

.modal-image-preview__close {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 2.4rem;
    color: #fff;
    border-radius: 999px;
    cursor: pointer;
}

/* Post list */

.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post__link {
    cursor: pointer;
}

.post__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.post__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.post__name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}

.post__time {
    font-size: 1.4rem;
    color: #adacac;
}

.post__content {
    margin: 10px 0;
    padding: 0px 60px;
    border-radius: 4px;
    color: #fff;
    font-size: 1.6rem;
}

.post__thumbnail {
    margin: 0 60px;
    width: calc(100% - 60px);
    object-fit: cover;
    border-radius: 4px;
}

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    padding-left: 60px;
}

.post__view,
.post__like,
.post__comment {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    color: #ddd;
    font-size: 1.6rem;
    cursor: pointer;
}

.post__liked {
    color: #7bff00;
}

.post__view:hover,
.post__like:hover,
.post__comment:hover {
    color: #7bff00;
}
