{% extends './_layout.html' %}

{% block title %}Account - Crypto Community{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/account/index.css') }}">
{% endblock %}

{% block content %}
<div class="profile-main">
    <div class="profile">
        <div class="profile-background">
            <input type="file" id="background" class="profile-background__input" accept="image/*" hidden>
            <img src="" alt="background">
            <label for="background" class="profile-background__label">
                <div class="profile-background--alt">
                    <i class="fa-solid fa-image"></i>
                </div>
            </label>
        </div>
    </div>
    <div class="profile-info">
        <div class="profile-info__avatar">
            {% if profile.avatar != None %}
            <img src="{{ profile.avatar }}" alt="avatar">
            {% else %}
            <img src="{{ url_for('static',filename='images/user.png') }}" alt="avatar">
            {% endif %}
        </div>
        <div class="profile-info__content">
            <div class="profile-info__name" id="profile-info__name">{{ profile.fullname }}</div>
            <div class="profile-info__email" id="profile-info__email">{{ profile.email }}</div>
        </div>
    </div>
    <div class="profile-info__bio" id="profile-info__bio">{{ profile.bio }}</div>
</div>
<div class="right">
    <div id="trending-token" class="trending-token">
        <div class="trending-token__header">
            <div class="trending-token__header--title">Trending Tokens</div>
        </div>
        <div id="trending-token-list" class="trending-token__list"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- <script src="{{ url_for('static',filename='scripts/account/index.js') }}"></script> -->
{% endblock %}