<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename='/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/_layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/auth/modal.css') }}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body
    onload="checkLogin(); {% block onload %}{% endblock %}"
>
    <!-- Show list posts -->
    <div class="container">
        <div class="sidebar">
            <div class="sidebar__header">
                <i class="fa-brands fa-bitcoin logo"></i>
            </div>
            <ul class="sidebar__list">
                {% if active == 'feed' %}
                <li class="sidebar__item sidebar__item--active">
                {% else %}
                <li class="sidebar__item">
                {% endif %}
                    <a href="/post">
                        <i class="fa-solid fa-rss"></i>
                        Feed
                    </a>
                </li>
                {% if active == 'articles' %}
                <li class="sidebar__item sidebar__item--active">
                {% else %}
                <li class="sidebar__item">
                {% endif %}
                    <a href="/articles">
                        <i class="fa-regular fa-file-lines"></i>
                        Articles
                    </a>
                </li>
                    {% for category in categories %}
                    {% if active == category.title or article != undefine and category.title == article.type %}
                    <li class="sidebar__item sidebar__item--active">
                    {% else %}
                    <li class="sidebar__item">
                    {% endif %}
                        <a href="/articles/category/{{category.title}}">
                            <i class="fa-solid {{category.icon}}"></i>
                            {{category.title}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="search_bar">
                    <i class="fa-solid fa-search search_bar__icon"></i>
                    <input
                        type="text"
                        class="search_bar__input"
                        placeholder="Search articles"
                    />
                    <i class="fa-solid fa-times search_bar__icon"></i>
                </div>

                <div class="logo">
                    <i class="fa-brands fa-bitcoin"></i>
                    <h1 class="logo__title">Crypto Community</h1>
                </div>

                <div class="user" onclick="openBoxUser()">
                    <p class="user__welcome">Welcome <span id="user-welcome__username" class="user-welcome__username"></span> to Community</p>
                    <div class="user_circle">
                        <i class="fa-solid fa-user user__icon"></i>
                    </div>

                    <div id="box-user" class="box-user">
                        <a href="/account" class="box-user__header--link">
                            <div class="box-user__header">
                                <img class="box-user__avatar" src="{{ url_for('static',filename='images/user.png') }}" alt="user">
                                <div class="box-user__info">
                                    <div class="box-user__name" id="box-user__name"></div>
                                    <div class="box-user__email" id="box-user__email"></div>
                                </div>
                            </div>
                        </a>
                        <div class="separate"></div>
                        <div id="box-user__item-logout" class="box-user__item" onclick="logout()">
                            <i class="fa-solid fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </div>
                        <div id="box-user__item-login" class="box-user__item" onclick="openModalAuth()">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            <span>Login</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include './auth/modal.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='scripts/auth/modal.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>