/* Content */

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 80px;
}

/* Title */

.content__title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content__title-text {
    font-size: 2.4rem;
    font-weight: 600;
    color: hsl(91, 100%, 50%);
    position: relative;
}

.content__title-text::after {
    position: absolute;
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    right: -160px;
    bottom: 17px;
    background-color: hsl(91, 100%, 50%);
}

/* Articles */

.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 370px);
}

.article-item {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: #1b1d1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.article-item:hover {
    box-shadow: hsl(91, 100%, 50%) 0px 0px 10px 0px;
}

.article-item__thumbnail {
    width: 40%;
    height: 100%;
    background-color: #ddd;
}

.article-item__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.article-item:hover .article-item__thumbnail img {
    transform: scale(1.05);
}

.article-item__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 60%;
    overflow-wrap: break-word;
    background-color: #1b1d1f;
}

.article-item__title {
    max-width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.article-item__description {
    max-width: 100%;
    font-size: 1.6rem;
    color: #adacac;
}

.most_read-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #191b1d;
    border-radius: 12px;
}

.most_read-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 12px 12px 0px 0px;
}

.most_read-header--icon {
    font-size: 2rem;
    color: hsl(91, 100%, 50%);
}

.most_read-header--text {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.most_read-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-bottom: 1px solid #444444;
    transition: background-color 0.3s ease;
    position: relative;
}

.most_read-item:hover .most_read-item__content {
    opacity: 0.3;
    cursor: pointer;
}

.most_read-item__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.most_read-item:hover .most_read-item__overlay {
    opacity: 1;
    color: hsl(91, 100%, 50%);
    background-color: rgba(0, 0, 0, 0.7);
}

.most_read-item__content {
    position: relative;
    z-index: 1;
}

.most_read-item__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

.most_read-item__description {
    font-size: 1.6rem;
    color: #adacac;
}
