html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background-color: #101214;
}

/* Common */

a {
    text-decoration: none;
    color: inherit;
}

.button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: hsl(91, 100%, 50%);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

.separate {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.limit-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-limit);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
}

.read_more__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
    background-color: #444444;
    border-radius: 999px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.read_more__btn i {
    font-size: 1.6rem;
    color: #fff;
    transition: color 0.3s ease;
}

.read_more__btn p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease;
}

.read_more__btn:hover {
    background-color: hsl(91, 100%, 50%);
}

.read_more__btn:hover i {
    color: #333;
}

.read_more__btn:hover p {
    color: #333;
}

/* End common */

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Sidebar */

.sidebar {
    width: 240px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #191b1d;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 16px 0px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

.sidebar__header i {
    font-size: 5rem;
    color: hsl(91, 100%, 50%);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 4.6rem;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__item {
    width: 100%;
}

.sidebar__item a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 20px;
    max-width: 200px;
    padding: 16px 20px;
    color: #adacac;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    border-left: 2px solid transparent;
}

.sidebar__item a:hover {
    border-left: 2px solid hsl(91, 100%, 50%);
}

.sidebar__item--active a {
    color: hsl(91, 100%, 50%);
    background-color: #444444;
    border-left: 2px solid hsl(91, 100%, 50%);
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
}

/* Top bar */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: sticky;
    top: 0; /* Đặt khoảng cách từ phía trên của viewport đến topbar */
    background: #101214; /* Nên đặt màu nền để đảm bảo topbar không trong suốt */
    z-index: 1000; /* Đảm bảo topbar ở trên các phần tử khác */
}

.search_bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #191b1d;
    border-radius: 999px;
    padding-left: 20px;
    padding-right: 20px;
}

.search_bar i {
    font-size: 2rem;
    color: #adacac;
}

.search_bar__input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    background-color: transparent;
    color: #adacac;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 4.6rem;
    color: hsl(91, 100%, 50%);
}

.logo__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 999px;
    cursor: pointer;
}

.user_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid hsl(91, 100%, 50%);
}

.user__icon {
    font-size: 1.7rem;
}

.user__welcome {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(0, 1%, 68%);
}

.user-welcome__username {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

/* Box */

.box-user {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    z-index: 10;
    display: none;
}

.box-user--show {
    display: block;
}

.box-user__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-user__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.box-user__name {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
}

.box-user__email {
    font-size: 1.2rem;
    color: #adacac;
}

.box-user .separate {
    margin: 10px 0;
}

.box-user__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.box-user__item:hover {
    background-color: #f8f8f8;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 80px;
    max-height: max-content;
}

iframe {
    max-height: max-content;
}

.highlight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.highlight__title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.highlight__title--icon {
    font-size: 2.4rem;
    color: hsl(91, 100%, 50%);
}

.highlight__title--text {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.highlight__content {
    display: flex;
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    overflow-y: hidden; /* Ẩn thanh cuộn dọc */
    padding: 10px 0;
    white-space: nowrap; /* Ngăn các phần tử con xuống dòng */
    padding: 15px;
}

.highlight__article {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: rgb(27 29 31);
    margin-right: 20px;
    min-width: 500px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

@supports (backdrop-filter: blur(5px) brightness(90%)) or
    (-webkit-backdrop-filter: blur(5px) brightness(90%)) {
    .highlight__article {
        backdrop-filter: blur(5px) brightness(90%);
        -webkit-backdrop-filter: blur(5px) brightness(90%);
    }
}

.highlight__article:hover {
    box-shadow: hsl(91, 100%, 50%) 0px 0px 10px 0px;
}

.highlight__article--thumbnail {
    width: 50%;
    height: 250px;
    background-color: #ddd;
}

.highlight__article--thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight__article--content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 50%;
    max-width: 400px;
    overflow: hidden;
}

.highlight__article--title {
    max-width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.highlight__article--description {
    max-width: 100%;
    font-size: 1.6rem;
    color: #adacac;
}

.read_more__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
    background-color: #444444;
    border-radius: 999px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.read_more__btn i {
    font-size: 1.6rem;
    color: #fff;
    transition: color 0.3s ease;
}

.read_more__btn p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease;
}

.read_more__btn:hover {
    background-color: hsl(91, 100%, 50%);
}

.read_more__btn:hover i {
    color: #333;
}

.read_more__btn:hover p {
    color: #333;
}

/* Articles */

.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.category-container-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.category-container-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.category-container-item__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.category-container-item__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #adacac;
    text-decoration: none;
    border-bottom: 2px solid hsl(91, 100%, 50%);
}

.category-container-item__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.category-container-item__article {
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    background-color: #1b1d1f;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.category-container-item__article:hover {
    transform: scale(1.05);
    box-shadow: hsl(91, 100%, 50%) 0px 0px 10px 0px;
}

.category-container-item__article--thumbnail {
    width: 100%;
    height: 200px;
    background-color: #ddd;
}

.category-container-item__article--thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-container-item__article--info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 15px 15px;
}

.category-container-item__article--title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.category-container-item__article--description {
    font-size: 1.6rem;
    color: #adacac;
}

.most_read-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #191b1d;
    border-radius: 12px;
}

.most_read-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 12px 12px 0px 0px;
}

.most_read-header--icon {
    font-size: 2rem;
    color: hsl(91, 100%, 50%);
}

.most_read-header--text {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.most_read-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-bottom: 1px solid #444444;
    transition: background-color 0.3s ease;
    position: relative;
}

.most_read-item:hover .most_read-item__content {
    opacity: 0.3;
    cursor: pointer;
}

.most_read-item__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.most_read-item:hover .most_read-item__overlay {
    opacity: 1;
    color: hsl(91, 100%, 50%);
    background-color: rgba(0, 0, 0, 0.7);
}

.most_read-item__content {
    position: relative;
    z-index: 1;
}

.most_read-item__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

.most_read-item__description {
    font-size: 1.6rem;
    color: #adacac;
}
