.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 80px;
    max-height: max-content;
}

iframe {
    max-height: max-content;
}

.highlight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.highlight__title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.highlight__title--icon {
    font-size: 2.4rem;
    color: hsl(91, 100%, 50%);
}

.highlight__title--text {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.highlight__content {
    display: flex;
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    overflow-y: hidden; /* Ẩn thanh cuộn dọc */
    padding: 10px 0;
    white-space: nowrap; /* Ngăn các phần tử con xuống dòng */
    padding: 15px;
}

.highlight__article {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: rgb(27 29 31);
    margin-right: 20px;
    min-width: 500px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

@supports (backdrop-filter: blur(5px) brightness(90%)) or
    (-webkit-backdrop-filter: blur(5px) brightness(90%)) {
    .highlight__article {
        backdrop-filter: blur(5px) brightness(90%);
        -webkit-backdrop-filter: blur(5px) brightness(90%);
    }
}

.highlight__article:hover {
    box-shadow: hsl(91, 100%, 50%) 0px 0px 10px 0px;
}

.highlight__article--thumbnail {
    width: 50%;
    height: 250px;
    background-color: #ddd;
}

.highlight__article--thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight__article--content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 50%;
    max-width: 400px;
    overflow: hidden;
}

.highlight__article--title {
    max-width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.highlight__article--description {
    max-width: 100%;
    font-size: 1.6rem;
    color: #adacac;
}

.read_more__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
    background-color: #444444;
    border-radius: 999px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.read_more__btn i {
    font-size: 1.6rem;
    color: #fff;
    transition: color 0.3s ease;
}

.read_more__btn p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease;
}

.read_more__btn:hover {
    background-color: hsl(91, 100%, 50%);
}

.read_more__btn:hover i {
    color: #333;
}

.read_more__btn:hover p {
    color: #333;
}

/* Articles */

.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.category-container-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.category-container-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.category-container-item__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.category-container-item__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #adacac;
    text-decoration: none;
    border-bottom: 2px solid hsl(91, 100%, 50%);
}

.category-container-item__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.category-container-item__article {
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    background-color: #1b1d1f;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.category-container-item__article:hover {
    transform: scale(1.05);
    box-shadow: hsl(91, 100%, 50%) 0px 0px 10px 0px;
}

.category-container-item__article--thumbnail {
    width: 100%;
    height: 200px;
    background-color: #ddd;
}

.category-container-item__article--thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-container-item__article--info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 15px 15px;
}

.category-container-item__article--title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.category-container-item__article--description {
    font-size: 1.6rem;
    color: #adacac;
}

.most_read-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #191b1d;
    border-radius: 12px;
}

.most_read-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 12px 12px 0px 0px;
}

.most_read-header--icon {
    font-size: 2rem;
    color: hsl(91, 100%, 50%);
}

.most_read-header--text {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.most_read-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-bottom: 1px solid #444444;
    transition: background-color 0.3s ease;
    position: relative;
}

.most_read-item:hover .most_read-item__content {
    opacity: 0.3;
    cursor: pointer;
}

.most_read-item__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.most_read-item:hover .most_read-item__overlay {
    opacity: 1;
    color: hsl(91, 100%, 50%);
    background-color: rgba(0, 0, 0, 0.7);
}

.most_read-item__content {
    position: relative;
    z-index: 1;
}

.most_read-item__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

.most_read-item__description {
    font-size: 1.6rem;
    color: #adacac;
}
